<!DOCTYPE html>
<html>
  <head>
    <title>Forgot password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Forgot password</h1>
    <form action='' method='POST'>
        <label for='email'>Email:</label>
        <input type='email' name='email' id='email'/>
        <br/>
        <input type='submit' value='Send' />
    </form>
  </body>
</html>