<!DOCTYPE html>
<html>
  <head>
    <title>Reset password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Reset password></h1>
    
    <form action='' method='POST'>
      
      <label for='pass'>Reset password:</label>
      <input type='password' name='pass' id='pass' />
      <br />
      <label for='pass2'>Confirm password:</label>
      <input type='password' name='pass2' id='pass2' />
      <br />
      <input type='submit' value='Reset password' />

    </form> 
  </body>
</html>